%h1
  = @tournament[:name]
  %h2
    - if @tournament[:round] == 0
      %small= t('.not_started')
    - else
      = t('.tournament_result')
      - if @tournament[:round] <= @tournament[:rounds]
        %small= Tournament.human_attribute_name(:round) + ": " + @tournament[:round].to_s
      - else
        %small= t('.end')

- if @tournament.players.count > 0
  .row
    .col-md-offset-9.col-md-3
      =link_to t('.players'), players_tournament_path(round: @tournament.round),'class': 'btn btn-sm btn-info'
      - if player_signed_in? && current_player.admin?
        - if @tournament[:round].eql?(@tournament[:rounds])
          =link_to t('.finish_tournament'), next_round_tournament_path(tournament_id: @tournament.id,round: @tournament.round), method: :post, 'class': 'btn btn-sm btn-warning',remote: true
        - elsif @tournament[:round]>0 && @tournament[:round]<@tournament[:rounds]
          =link_to t('.next_round'), next_round_tournament_path(tournament_id: @tournament.id,round: @tournament.round), method: :post, 'class': 'btn btn-sm btn-warning',remote: true

- if @tournament.round > 0
  %ul.nav.nav-tabs
    - (1..@tournament.round).each do |i|
      -if i <= @tournament.rounds
        %li(role="presentation"){:class => ('active' if i == @round)}
          =link_to i, details_tournament_path(tournament_id: @tournament.id,change_round: true,round: i)
  .panel-group#accordion(role="tablist" aria-multiselectable="true")
    - @matches.each do |t|
      .panel.panel-default
        .panel-heading.clearfix(role="tab" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"){id: "heading_#{t.id}", 'aria-controls': "collapse_#{t.id}", 'data-target': "\#collapse_#{t.id}"}
          = render 'match_heading', match: t
        .panel-collapse.collapse(role="tabpanel"){id: "collapse_#{t.id}", 'aria-labelledby': "heading_#{t.id}"}
          .panel-body
            = render 'match_body', match: t
