%h1.page-header= t('tournaments-list')
- @tournaments.each do |t|
	%p
		%h4= t.name
		= t.description
		=   "(" + t('begin') + "  #{l t.start_date})"
		- if t.tournament_type?
			= "[" + t('tournament-t') + " #{t.tournament_type}]"

= will_paginate @tournaments