%h1.page-header Lista turniejów
- @tournaments.each do |t|
	%p
		%h4= t.name
		= t.description
		= "(od #{l t.start_date})"
		- if t.tournament_type?
			= "[turniej typu #{t.tournament_type}]"

= will_paginate @tournaments