.row
  .col-sm-8.col-sm-offset-2
    = bootstrap_form_for @tournament do |f|
      = f.text_field :name
      = f.text_area :description
      = f.text_field :start_date, icon: 'calendar', class: 'datetimepicker', autocomplete: 'off'
      = f.select :tournament_type, Tournament::TOURNAMENT_TYPE.invert
      = f.number_field :rounds, min: 1
      = f.submit t('add-new-tournament'), :class => 'btn btn-success'
