= bootstrap_form_for @tournament do |f|
  = f.text_field :name,label: t('tournament-name')
  = f.text_field :description, label: t('tournament-description')
  = f.datetime_select :start_date, label: t('start-date')
  = f.select :tournament_type, [['on-line', 'ONLINE'], ['on-site', 'ONSITE']],label: t('tournament-type')
  = f.number_field :rounds, min: 1,label: t('rounds-number')
  = f.submit t('add-new-tournament'), :class => 'btn btn-success'
