%h2
  - if @player.full_name.empty?
    = @player.email
  - else
    = @player.full_name
    %small= @player.email

  - if @player.admin?
    %small
      = surround '[', ']' do
        %em= Player.human_attribute_name :admin

= show_fields @player, [:age, :rating]

- if @player.has_address?
  = show_fields @player.address, [:city, :zip_code, :street_address]