!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ztw
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to 'TournamentMaster', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li= link_to 'Dodaj turniej', new_tournament_path
        %ul.nav.navbar-nav.navbar-right
          - if player_signed_in?
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                = current_player.email
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'Wyloguj się', destroy_player_session_path, method: :delete
          - else
            %li= link_to 'Zaloguj się', player_session_path

    .container#panel-center
      = render 'layouts/messages'
      = yield